.App {
  text-align: center;
}

button {
  cursor: pointer;
}

.Exam {
  width: min(600px, 80%);
  height: 450px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Option {
  cursor: pointer;
}
.Option:active {
  opacity: 70%;
}
.Option.Selected {
  color:blue
}

.ReturnToMainPage {
  text-decoration: underline;
  cursor: pointer;
}

.CorrectAnswerOption {
  color: green
}

.WrongAnswerOption {
  color: red
}

.ReviewExam {
  width: min(600px, 80%);
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.ReviewExamBackToMainPage {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 8vw;
  text-decoration: underline;
  cursor: pointer;
  background: rgba(0,0,0, 0.1);
  padding: 2px 5px;
}
